# Docs dependencies
-r tests-requirements.txt
sphinx>=5
setuptools>=63  # readthedocs doesn't support -r
myst-parser
sphinx-click>=3.0.2
furo
sphinx-inline-tabs
sphinxext-opengraph
sphinxcontrib-fulltoc
sphinxcontrib-spelling
sphinx-copybutton
sphinx-issues
sphinx-design
pyenchant
Jinja2>=3.1
sphinx-autobuild
sphinx-hoverxref
certifi>=2022.12.7 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
